body{
    display: flex;
    flex-direction: column;
}

/* ************************************************************************** */
/* ----------------------- HEADER ------------------------------------------- */

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* slightly lighter color than one given */
    background-color: #252e39;
}


.Header > .main-logo {
    width: 55px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: 260px;
}

.Header > ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
    padding-right: 120px;
}

.Header li {
    font-family: Verdana, Arial;
    font-size: 18px;
    color: #E5E7EB;
}




/* ************************************************************************** */
/* ----------------------- MIDDLE ------------------------------------------- */

.Middle {
    display: flex;
    flex-direction: column;
}


.Middle > .first {
    padding: 30px;
    /* background-color: #1F2937; */
    background-color: white;
}

.Middle > .second {
    padding: 15px;
    /* background-color: white; */
    background-color: bisque;
}

.Middle > .third {
    padding: 30px;
    background-color: #E5E7EB;
}

.Middle > .fourth {
    padding: 20px;
    background-color: white;
}




/* ************************************************************************** */
/* ---------------------------- FOOTER ---------------------------------------*/

.Footer {
    height: 50px;
    width: auto;
    background-color: #1F2937;
}